.orderButton {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 75px;
    background-color: white;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #3399FF;
    color: white;
    font-size: 20px;
}

.orderButton:hover{
    opacity: 0.8;
}

.hideFormLog{
    display: none;
}

.formLogSignPlus{
    border-bottom: 1px solid #3399ff;
}

.formLogSignPlus i{
    float: right;
    font-size: 20px;
    color: #3399ff;
}

.cartOrder {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}