.BorderPro{
    border: 1px solid #d2d0d0;
}

.prodCategor{
    padding-left: 20px;
    overflow-y: scroll;
}

.prodCategor h6 {
    font-size: 20px;
    font-weight: 600;
}

.prodCategor ul li span{
    color: #7b7777;
}

.brandScroll {
    overflow-y: scroll;
}

.tooltipCart{
    position: relative;
    display: inline-block;
}

.tooltipCart .tooltipCartText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 7;
}
.tooltipCart:hover .tooltipCartText{
    visibility: visible;
}

