.menuLinkDiv {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
/*.liStyle:hover{*/
/*    border-left: 6px solid black;*/
/*}*/
.menuLinkDiv:hover{
    border-left: 2px solid #b8b8a4;
    background-color: #e7e4e4;
}

.menuLink{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: black;

}
.menuLink a{
    color: black;
}
.menuLinkDiv i {
    color: black;
    font-size: 17px;
    float: left;
}
.Bars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-left: 10px;
    color: #ccbc30;
}

.Bars span{
    padding-top: 7px;
    font-size: 30px;
}

.Bars:hover {
    color: #ccbc30 !important;
}
.Bars:focus {
    color: #ccbc30 !important;
}


.Bars i {
    font-size: 36px;
}

.Bars span{
    font-weight: bold;
}

.lang_style{
    padding: 10px;
    width: 7rem;
    font-weight: 600;
    font-size: 17px;
}

.lang_style ul li div:hover{
    opacity: 0.7;
    cursor: pointer;
}

.logOut{
    font-size: 17px;
    color: grey;
}

.logOut:hover{
    cursor: pointer;
    opacity: 0.6;
}

.logIn{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 4px;
    padding: 5px;
    border: 1px solid darkgrey;
    border-radius: 8px;
    font-size: 15px;
    background-color: #f1f0f0;
}

.EmptyCart{
    font-size: 15px;
    text-align: center;
    color: #7b7777;
    padding-bottom: 10px;
}
